project/Application/output/*
project/Application/listing/*
project/Application/*
*.axf
*.htm
*.iex
*.lnp
*.d
*.crf
*.o
*.tmp
*.TMP
*.wspos
*.wsdt
*.bat
*.crun
*.dbgdt
*.jlink
*.xml
*.dep
*.ewd
*.ewt
*.bak
*.JHD
*.yinqiang
*.lst
*.map
*.uvguix.*
*.uvgui.*
!*.uvoptx
!*.uvprojx
!清除工程.bat
*.orig
*.log
/History
*.PcbLib.Zip